<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        <h1>Register for your own grasslands account!</h1>
        
        <form action='/register' method='POST'>
            <h5>First Name: </h5>
            <input type='text' id='firstname' name='firstname' placeholder='Ex. Bob' required>
            <br>
            <h5>Last Name: </h5>
            <input type='text' id='lastname' name='lastname' placeholder='Ex. Smith' required>
            <br>
            <h5>Address: </h5>
            <input type='text' id='address' name='address' placeholder='Ex. 11 Fake Lane, Fake City, CA' required>
            <br>
            <h5>Your new username: </h5>
            <input type='text' id='username' name='username' placeholder="Ex. newUser123" required>
            <br>
            <h5>Your password: </h5>
            <input type='password' id='password' name='password' placeholder='password' required>
            <h5>Confirm password: </h5>
            <input type='password' id='passwordConfirm' name='passwordConfirm' placeholder='password' required>
            <br>
            <button type='submit'>Register!</button>
        </form>
        
        <% if(issue !== "none") { %>
        <h5 id='createAccountError'><%= issue %></h5>
        <% } %>
    </body>

</html>