/*edits what's in jumbotron*/
h1{
    font-family: 'Sen', sans-serif;
}
p, label{
    font-family: 'Quicksand', sans-serif;
}


.h4, h4{
    padding-left: 300px;
    font-family: 'Quicksand', sans-serif;
}

hr{
    border: 3px solid rgb(0, 115, 153);
    border-radius: 5px;
}