<div class="row m-3 searchResult pt-2 pb-2">
    <img src="<%= currentGrass.image%>" alt="<%= currentGrass.name%>" class="col-md-2">
    <div class="col-md-10">
        <h3><%= currentGrass.name%></h3>
        <p><%= currentGrass.short_desc%></p>
    </div>
</div>